<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#unless hideform}}
    <title>Add URL</title>
    {{else}}
    <title>List URLs</title>
    {{/unless}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style>
      #listcol {
        margin-left: -34px;
        padding-right: 0px;
        padding-left: 0px;
      }
      #listcol li {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      
      {{#if message}}
      <div class="row">
        <h2>{{message}}</h2>
      </div>
      {{/if}}
      
      {{#unless hideform}}
      <form method="post">
        <div class="row">
          <div class="input-group input-group">
            <span class="input-group-addon" id="url-label">url</span>
            <input name="url" type="url" class="form-control" placeholder="http://example.com" aria-describedby="sizing-addon3">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="input-group input-group">
              <span class="input-group-addon" id="slug-label">/</span>
              <input name="slug" type="text" autocorrect="off" autocapitalize="none" class="form-control" placeholder="slug" aria-describedby="sizing-addon3">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="input-group input-group">
              <span class="input-group-addon" id="slug-label">unlisted</span>
              <input name="private" type="checkbox" class="form-control" aria-describedby="sizing-addon3">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-group input-group">
            <span class="input-group-addon" id="password-label">password</span>
            <input name="password" type="password" class="form-control" aria-describedby="sizing-addon3">
          </div>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
      {{/unless}}
      <div id="listrow" class="row">
        <div id="listcol" class="col-xs-12 col-sm-12">
          <ul>
            {{#each links}}
            <li>
              <a href="{{link}}">{{slug}}</a> &rarr; {{destination}}
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <script>
      var b = window.location.href;
      if (b.substr(b.length-4, b.length) === '/add') b = b.substr(0, b.length-4) + '/';
      document.body.innerHTML = document.body.innerHTML.replace('Success! visit /', 'Success! visit ' + b);
    </script>
  </body>
</html>
